[submodule "themes/rocinante"]
	path = themes/rocinante
	url = git@github.com:RomainTrm/hugo-rocinante-theme.git
	branch = custom
[submodule "public"]
	path = public
	url = git@github.com:RomainTrm/romaintrm.github.io.git
